window#waybar {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

* {
  color: white;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 20px;
  transition: none;
}

/* Workspace icons */
#workspaces {
  background: transparent;
  border: none;
  margin-left: 7px;
  padding: 3px 10px;
}

#clock,
#battery,
#cpu,
#network,
#pulseaudio,
#memory,
#backlight,
#mpris {
  background: transparent;
  border: none;
  padding: 3px 8px;
  font-weight: 500;
  transition: none;
}

#cpu {
  min-width: 60px;
}

#memory {
  min-width: 60px;
}

#battery {
  min-width: 60px;
}

#backlight {
  min-width: 60px;
}

#pulseaudio {
  margin-right: 7px;
  min-width: 65px;
}

#battery.critical,
#memory.critical,
#cpu.critical {
  color: #d80000;
}

#battery.warning {
  color: orange;
}
